<header id="header" class="wpo-site-header">
    <nav class="navigation navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
                    <div class="mobail-menu">
                        <button type="button" class="navbar-toggler open-btn">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar first-angle"></span>
                                    <span class="icon-bar middle-angle"></span>
                                    <span class="icon-bar last-angle"></span>
                                </button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html"><img src="{{ 'assets/images/sparetime-global-logo.png'|theme }}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-1 col-1">
                    <div id="navbar" class="collapse navbar-collapse navigation-holder">
                        <button class="menu-close"><i class="ti-close"></i></button>
                        <ul class="nav navbar-nav mb-2 mb-lg-0">
                            <li class="menu-item-has-children">
                                <a class="active" href="#">Home</a>
                                <ul class="sub-menu">
                                    <li><a class="active" href="index.html">Home Charity</a></li>
                                    <li><a href="index-2.html">Home Education</a></li>
                                    <li><a href="index-3.html">Home Wildlife</a></li>
                                    <li><a href="index-4.html">Home Ocean Polution</a></li>
                                    <li><a href="index-5.html">Home World Pandemic</a></li>
                                    <li><a href="index-6.html">Home Nature</a></li>
                                    <li><a href="index-7.html">Home Nature S2</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Causes</a>
                                <ul class="sub-menu">
                                    <li><a href="cause.html">Causes</a></li>
                                    <li><a href="cause-single.html">Causes Single</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Events</a>
                                <ul class="sub-menu">
                                    <li><a href="event.html">Events</a></li>
                                    <li><a href="event-s2.html">Events S2</a></li>
                                    <li><a href="event-single.html">Events Single</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="service-single.html">Service Single</a></li>
                                    <li><a href="project.html">Project</a></li>
                                    <li><a href="project-single.html">Project Single</a></li>
                                    <li><a href="donate.html">Donate</a></li>
                                    <li><a href="team-single.html">Volunteer</a></li>
                                    <li><a href="testimonial.html">Testimonial</a></li>
                                    <li><a href="404.html">Error 404</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Sign Up</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog right sidebar</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                    <li><a href="blog-fullwidth.html">Blog fullwidth</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Blog details</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-single.html">Blog details right sidebar</a>
                                            </li>
                                            <li><a href="blog-single-left-sidebar.html">Blog details left
                                                            sidebar</a></li>
                                            <li><a href="blog-single-fullwidth.html">Blog details
                                                            fullwidth</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>

                    </div>
                    <!-- end of nav-collapse -->
                </div>
                <div class="col-lg-3 col-md-2 col-2">
                    <div class="header-right">
                        <div class="close-form">
                            <a class="theme-btn" href="donate.html">Donate Now</a>
                        </div>
                        <div class="header-search-form-wrapper">
                            <div class="cart-search-contact">
                                <button class="search-toggle-btn"><i class="fi flaticon-search"></i></button>
                                <div class="header-search-form">
                                    <form>
                                        <div>
                                            <input type="text" class="form-control" placeholder="Search here...">
                                            <button type="submit"><i class="fi flaticon-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of container -->
    </nav>
</header>