<div id="partnership" class="d-none d-sm-block text-center">
    <div class="py-3 img-container" style="height: 150px">
        <img
            class="align-middle"
            style="width: 150px"
            src="{{ 'assets/img/sparetime-global.png'|theme }}"
            alt="sparetime global"
        />
    </div>
    <p>In collaboration with</p>

    <div class="img-container" style="height: 100px">
        <img
            class=""
            style="width: 75px"
            src="{{ 'assets/img/emblem-of-sri-lanka.jpg'|theme }}"
            alt="sparetime global"
        />
    </div>
    <p>
        Ministry of Women and Child Development, Pre school and
        Primary Education, School Infrastructure & Education
        Services.
    </p>
</div>
<div id="partnership-min" class="d-block d-sm-none text-center">
    <div class="py-1 img-container" style="height: 50px; width: 90px">
        <img
            class="align-middle"
            style="width: 100%"
            src="{{ 'assets/img/sparetime-global-logo.png'|theme }}"
            alt="sparetime global"
        />
    </div>
    <p style="width: 20%">In collaboration with</p>

    <div class="img-container" style="height: 50px; width: 50px">
        <img
            class=""
            style="width: 100%"
            src="{{ 'assets/img/emblem-of-sri-lanka.jpg'|theme }}"
            alt="sparetime global"
        />
    </div>
    <p style="width: 50%">
            Ministry of Women and Child Development, <br>
            Pre school and Primary Education,<br>
            School Infrastructure & Education Services.
    </p>
</div>